.DS_Store
.idea/.name
.idea/compiler.xml
.idea/master.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
Santorini.iml
.idea/.gitignore
!.gitignore
!README.md
!pom.xml
!resources/
!src/
!javadoc/
.idea/workspace.xml
.idea/uiDesigner.xml
.idea
.idea/.gitignore
.idea
.idea
lib
target
out
